@import url('https://fonts.googleapis.com/css?family=Kalam:700|Palanquin:700|Raleway:700');
.landing {
    background-image:  url("./ocean\ background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: rgb(0, 153, 153);
}

.about {
    background: #448D76;
    color: white;
    height: 100%;
}

.color {
    background: rgba(68, 141, 118, 0.55);
    height: 100%;
    z-index: 99;
}

main {
    height: 100vh;
}

.navbar {
    color: white;
    
}

.logo {
    height: 60px;
    border-radius: 8%;
}

.title {
    color: white;
    font-family:  'Raleway', sans-serif;
    text-shadow: -4px 4px 0px #00d6e6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.slogan {
    font-family: 'Palanquin', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#box {
	max-width: 70vw;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	font-size: 30px;
	line-height: 1.5;
	transform: translateY(-50%);
	perspective: 400px;
}

body{
    overflow: hidden;
}

.imagine {
    font-family: 'Kalam', cursive;

    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #00e6e6 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #00e6e6 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #00e6e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) { 
    .logo{
        height: 40px;
    }
    .tile{
        font-size: 1em;
    }
}
